–ó–∞–¥–∞—á–∞

–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ —Ç–µ—Å—Ç –º–µ–∂–¥—É –≥—Ä—É–ø–ø–∞–º–∏ 0 –∏ 3 –ø–æ –º–µ—Ç—Ä–∏–∫–µ –ª–∏–Ω–µ–∞—Ä–∏–∑–æ–≤–∞–Ω–Ω—ã—Ö –ª–∞–π–∫–æ–≤. –í–∏–¥–Ω–æ –ª–∏ –æ—Ç–ª–∏—á–∏–µ? –°—Ç–∞–ª–æ –ª–∏ ùëù‚àíùë£ùëéùëôùë¢ùëí –º–µ–Ω—å—à–µ?
–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ —Ç–µ—Å—Ç –º–µ–∂–¥—É –≥—Ä—É–ø–ø–∞–º–∏ 1 –∏ 2 –ø–æ –º–µ—Ç—Ä–∏–∫–µ –ª–∏–Ω–µ–∞—Ä–∏–∑–æ–≤–∞–Ω–Ω—ã—Ö –ª–∞–π–∫–æ–≤. –í–∏–¥–Ω–æ –ª–∏ –æ—Ç–ª–∏—á–∏–µ? –°—Ç–∞–ª–æ –ª–∏ ùëù‚àíùë£ùëéùëôùë¢ùëí –º–µ–Ω—å—à–µ?

In [1]:
import pandahouse
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np

In [2]:
connection = {
    'host': 'https://clickhouse.lab.karpov.courses',
    'password': 'dpo_python_2020',
    'user': 'student',
    'database': 'simulator_20220820'
}

### –ì—Ä—É–ø–ø—ã 1 –∏ 2

–ö–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–π t-—Ç–µ—Å—Ç –¥–ª—è –≥—Ä—É–ø–ø 1 –∏ 2

In [3]:
q = """
SELECT exp_group, 
        user_id, 
        sum(action = 'like') as likes,
        sum(action = 'view') as views,
        likes/views as ctr
FROM {db}.feed_actions
WHERE toDate(time) between '2022-07-13' and '2022-07-19' and exp_group in (1,2)
GROUP BY exp_group, user_id       
"""
      
df = pandahouse.read_clickhouse(q, connection=connection)

In [4]:
df.head()

   exp_group  user_id  likes  views       ctr
0          1   109963      3     15  0.200000
1          1    26117     32    141  0.226950
2          1   138232     18     73  0.246575
3          1    26295     33    122  0.270492
4          1    18392      7     32  0.218750

In [5]:
stats.ttest_ind(df[df.exp_group == 1].ctr,
               df[df.exp_group == 2].ctr,
                equal_var = False # –¥–∏—Å–ø–µ—Ä—Å–∏–∏ –Ω–µ–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ
               )

Ttest_indResult(statistic=0.709439204127032, pvalue=0.47806231308750413)

–°–æ–≥–ª–∞—Å–Ω–æ –¥–∞–Ω–Ω–æ–º—É —Ç–µ—Å—Ç—É, –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –æ—Å–Ω–æ–≤–∞–Ω–∏–π –æ—Ç–∫–ª–æ–Ω–∏—Ç—å –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É –æ —Ä–∞–≤–µ–Ω—Å—Ç–≤–µ —Å—Ä–µ–¥–Ω–∏—Ö ctr –≤ –≥—Ä—É–ø–ø–∞—Ö

In [6]:
q = """
SELECT user_id, exp_group, likes, views, ctr_control, likes - views * ctr_control AS linearized_likes FROM
    (SELECT    
        user_id, 
        exp_group,
        sum(action = 'like') as likes,
        sum(action = 'view') as views
    FROM {db}.feed_actions 
    WHERE toDate(time) between '2022-07-13' and '2022-07-19' and exp_group in (1,2)
    GROUP BY user_id, exp_group) query_in_1
    
    CROSS JOIN 
    
    (SELECT  
    sum(action = 'like') / sum(action = 'view') as ctr_control
    FROM simulator_20220820.feed_actions
    WHERE toDate(time) between '2022-07-13' and '2022-07-19' and exp_group == 1
    GROUP BY exp_group) query_in_2
"""

df = pandahouse.read_clickhouse(q, connection=connection)

In [7]:
df.head()

   user_id  exp_group  likes  views  ctr_control  linearized_likes
0   109963          1      3     15     0.208027         -0.120402
1    26117          1     32    141     0.208027          2.668221
2   138232          1     18     73     0.208027          2.814043
3    26295          1     33    122     0.208027          7.620730
4    18392          1      7     32     0.208027          0.343142

In [8]:
stats.ttest_ind(df[df.exp_group == 1].linearized_likes,
               df[df.exp_group == 2].linearized_likes,
                equal_var = False # –¥–∏—Å–ø–µ—Ä—Å–∏–∏ –Ω–µ–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ
               )

Ttest_indResult(statistic=6.122579994775972, pvalue=9.439432187037712e-10)

–¢–µ–ø–µ—Ä—å t-—Ç–µ—Å—Ç –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∑–Ω–∞—á–∏–º—ã–µ —Ä–∞–∑–ª–∏—á–∏—è –º–µ–∂–¥—É –≥—Ä—É–ø–ø–∞–º–∏, p-value —Å—Ç–∞–ª –º–µ–Ω—å—à–µ 0,05, –ø—Ä–∏ —ç—Ç–æ–º –≤ –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–æ–º —Ç–µ—Å—Ç–µ p-value –±—ã–ª –±–ª–∏–∑–æ–∫ –∫ –∑–Ω–∞—á–µ–Ω–∏—é 0.5.

### –ì—Ä—É–ø–ø—ã 0 –∏ 3

In [9]:
q = """
SELECT user_id, exp_group, likes, views, ctr_control, likes - views * ctr_control AS linearized_likes FROM
    (SELECT    
        user_id, 
        exp_group,
        sum(action = 'like') as likes,
        sum(action = 'view') as views
    FROM {db}.feed_actions 
    WHERE toDate(time) between '2022-07-13' and '2022-07-19' and exp_group in (0,3)
    GROUP BY user_id, exp_group) query_in_1
    
    CROSS JOIN 
    
    (SELECT  
    sum(action = 'like') / sum(action = 'view') as ctr_control
    FROM {db}.feed_actions
    WHERE toDate(time) between '2022-07-13' and '2022-07-19' and exp_group == 0
    GROUP BY exp_group) query_in_2
"""

df = pandahouse.read_clickhouse(q, connection=connection)

In [10]:
df.head()

   user_id  exp_group  likes  views  ctr_control  linearized_likes
0   115383          3      9     30     0.208236          2.752916
1   123580          3     13     48     0.208236          3.004666
2     4944          0      8     41     0.208236         -0.537681
3     4504          0      5     15     0.208236          1.876458
4   121508          0     18     88     0.208236         -0.324779

In [11]:
stats.ttest_ind(df[df.exp_group == 0].linearized_likes,
               df[df.exp_group == 3].linearized_likes,
                equal_var = False # –¥–∏—Å–ø–µ—Ä—Å–∏–∏ –Ω–µ–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ
               )

Ttest_indResult(statistic=-15.214995460903827, pvalue=5.4914249479690016e-52)

–í —Å–ª—É—á–∞–µ –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–æ–≥–æ t-—Ç–µ—Å—Ç–∞ –Ω–∞ –º–µ—Ç—Ä–∏–∫–µ ctr –±—ã–ª –ø–æ–ª—É—á–µ–Ω —Ä–µ–∑—É–ª—å—Ç–∞—Ç pvalue=5.4914249479690016e-52 > pvalue(linearized_likes). –ß—É–≤—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ç–µ—Å—Ç–∞ –ø–æ–≤—ã—Å–∏–ª–∞—Å—å.